h1 {
    color: $text-secondary;
    font-size: 4.5rem;
    font-weight: 300;
}
i {
    color: $primary;
}

span {
    color: $primary;
}

.container,
.container-contact {
    max-width: 1140px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-form {
    margin-left: 5rem;
    width: 65%;
}

.form-group {
    width: 100%;
    margin: 2rem;
}

label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
    color: $text-primary;
}

input {
    display: inline-block;
    padding: 5px;
    width: 90%;
    height: calc(1.5em + 0.75rem + 2px);
}
input#number2,
input#email2 {
    margin-top: 1rem;
}
#add-contact {
    border: none;
    background-color: $primary;
    margin-top: 1.5rem;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;

    &:hover {
        cursor: pointer;
        background-color: #2e7acd;
    }
}

.contacts-table,
.contact-history {
    width: 60%;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    color: $text-primary;
    margin-left: 4rem;
}

.contacts-table th,
.contacts-table td,
.contact-history th,
.contact-history td {
    border-bottom: 1px solid #ddd;
    font-family: "Lato", sans-serif;
    padding: 5px;
}

.contacts-table th {
    font-weight: 400;
    font-size: 1.7rem;
}

.intro-contact {
    width: 60%;
    text-align: left;
    margin-left: 6rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
}

.delete,
.edit,
.info,
.add-phone,
.add-email,
.remove-phone,
.remove-email {
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

.delete {
    background-color: $danger;
    color: #fff;
}

.edit {
    background-color: $primary;
}

.info {
    background-color: $color-grey-light-2;
}
.icon {
    color: #fff;
}

.add-phone,
.add-email,
.remove-phone,
.remove-email {
    display: inline-block;
    margin-left: 2rem;
    vertical-align: middle;
    padding-left: 1rem;
    padding-top: 0.4rem;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.add-phone,
.add-email {
    background-color: $primary;
    font-size: 1.8rem;
}

.remove-phone,
.remove-email {
    background-color: $danger;
    font-size: 1.3rem;
    padding-top: 0.6rem;
    padding-left: 1.1rem;
}

.reset {
    border: none;
    height: 3rem;
    width: 6rem;
    cursor: pointer;
    background-color: $color-grey-light-2;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 40%;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.form-group-modal {
    width: 100%;
    padding: 1rem;
}
